.form {
  box-shadow: 0 5px 5px black;
  background-color: darkblue;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  border-radius: 5px;
  padding: 10px;
  width: 30%;
}

.button {
  padding: 0 10px 0 10px;
}
